%table
  %thead   
    %tr
      %td Rank
      %td Name
      %td #events
      - @season.events.each do | event |       
        %td{:style => "background: #{event.category.color};"}         
          = link_to event.title , event, :style => 'text-decoration: none; color: white;'
      %td Score
      %td Mangekjemper
        
  %tbody
    - counter = 1
    - leaderboard.each do | key, value |
      - simple_score = 0
      %tr
        %td.center_table
          -if counter == 1
            %span.gold 
              = counter
          -elsif counter == 2
            %span.silver 
              = counter
          -elsif counter == 3
            %span.bronze 
              = counter
          -else
            %span.number
              = counter
        %td
          = value[:name]
        %td.center_table
          = value[:events].size
        - @season.events.each do | event |
          %td.center_table
            - if value[:events][event.id]
              - new_rank = value[:events][event.id][:new_rank]
              - if new_rank
                = value[:events][event.id][:new_rank]
              - else
                = '-'
                - simple_score += value[:events][event.id][:rank]
              (
              = value[:events][event.id][:rank]
              )
        %td.center_table
          -if value[:score] > 0
            = value[:score]
          - else
            - simple_score += (8 - value[:events].length) * 8
            = simple_score
        %td.center_table
          - if value[:mangekjemper]
            = "\u2714".encode('utf-8')
      - counter = counter + 1
