%table
  %thead   
    %tr
      %td Rank
      %td Name
      %td #events
      - @season.events.each do | event |       
        %td{:style => "background: #{event.category.color};"}         
          = link_to event.title , event, :style => 'text-decoration: none; color: white;'
          - if event.id == 4
            %i{ class: %w(fa fa-futbol-o) , style: 'color: white' }
          -elsif event.id == 2
            %i{ class: %w(fa fa-bicycle) , style: 'color: white'}
          -elsif event.id == 8
            %id{ class: %w(fa fa-snowflake-o) , style: 'color: white'}
          -elsif event.id == 1
            %id{ class: %w(fa fa-rocket) , style: 'color: white'}          
      %td Score
        
  %tbody
    - counter = 1
    - leaderboard.each do | key, value |
      - simple_score = 0
      %tr
        %td
          -if counter == 1
            %span.gold 
              = counter
          -elsif counter == 2
            %span.silver 
              = counter
          -elsif counter == 3
            %span.bronze 
              = counter
          -else
            %span.number
              = counter
        %td
          = value[:name]
        %td
          = value[:events].size
        - @season.events.each do | event |
          %td
            - if value[:events][event.id]
              - new_rank = value[:events][event.id][:new_rank]
              - if new_rank
                = value[:events][event.id][:new_rank]
              - else
                = '-'
                - simple_score += value[:events][event.id][:rank]
              (
              = value[:events][event.id][:rank]
              )
        %td
          -if value[:score] > 0
            = value[:score]
          - else
            - simple_score += (8 - value[:events].length) * 8
            = simple_score
      - counter = counter + 1
