%h1
  = @season.title

%div.wrapper
  %div.season-info
    %h3
      Participants:
      = Participant.men.where(event_id: @season.events.select(:id)).distinct.count('user_id')
      men and
      = Participant.women.where(event_id: @season.events.select(:id)).distinct.count('user_id')
      women
      %br
      Events:
      = @season.events.size
      %div
        %ul
          - @season.events.each do | event |
            %li
              = link_to event.title, event
      %br
      Categories:
      %table
        %tbody
          %tr
            - Category.all.each do | category |
              %td{:style => "background: #{category.color}; color: white;"}
                = category.title

  %p
    = link_to 'Home', root_path
    |
    = link_to "New season", new_season_path
    |
    = link_to "Users", users_path
    - if logged_in?
      |
      = link_to 'Edit season', edit_season_path(@season.id)
      |
      = link_to 'Delete season', { action: :destroy, id: @season }, method: :delete, data: { confirm: 'Are you sure?' }
      |
      = link_to 'Add event', new_season_event_path(@season.id)
      
  %div.container
    %div.leaderboard
      - leaderboard = @season.generate_leaderboard
      - if leaderboard[:events].empty?
        No results yet, for this season
      - else
        = render :partial => 'leaderboard', :locals => {:leaderboard => leaderboard[:participants][:women]}
        %br
        = render :partial => 'leaderboard', :locals => {:leaderboard => leaderboard[:participants][:men]}
