!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1
      = @season.title

    %p
      = link_to 'Tilbake', root_path
      |
      = link_to 'Edit season', edit_season_path(@season.id)
      |
      = link_to 'Delete season', { action: :destroy, id: @season }, method: :delete, data: { confirm: 'Are you sure?' }
      |
      = link_to 'Add event', new_season_event_path(@season.id)

    %ul
      - @season.events.each do | event |
        %li
          = link_to event.title, event

    %h1 Leaderboard
    - leaderboard = @season.generate_leaderboard_correct
    - if leaderboard.empty?
      No results yet, for this season
    - else
      = JSON.pretty_generate(leaderboard)
      %table{:border => 1}
        %thead
          %tr
            %td Rank
            %td Name
            - @season.events.each do | event |
              %td
                = link_to event.title, event
            %td Total Points
        %tbody
          - counter = 1
          - leaderboard.each do | key, value |
            %tr
              %td
                = counter
                - counter += 1
              %td
                = value[:name]
              - @season.events.each do | event |
                %td
                  - event = value[:results][event.id]
                  = event[:rank] if event
              %td
                = value[:score]
