!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1
      = @season.title

    %p
      = link_to 'Tilbake', root_path
      |
      = link_to 'Edit season', edit_season_path(@season.id)
      |
      = link_to 'Delete season', { action: :destroy, id: @season }, method: :delete, data: { confirm: 'Are you sure?' }
      |
      = link_to 'Add event', new_season_event_path(@season.id)

    %ul
      - @season.events.each do | event |
        %li
          = link_to event.title, event

    %h1 Leaderboard
    - leaderboard = @season.generate_leaderboard
    - if leaderboard.empty?
      No results yet, for this season
    - else
      %table{:border => 1}
        %thead
          %tr
            %td Rank
            %td Name
            -# @season.events.each do | event |
              #%td
                =# link_to event.title, event
            %td Total Points
        %tbody
          - leaderboard.each_with_index do | value, index |
            %tr
              %td
                = index + 1
              %td
                = value[0]
              %td
                = value[1].map { |h| h[1] }.sum
