= form_for @user do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :email
  = f.text_field :email
  %br
  = f.radio_button :sex, "woman"
  = f.label :sex_woman, "Woman"
  = f.radio_button :sex, "man"
  = f.label :sex_man, "Man"
  %br
  = f.label :retired
  = f.check_box :retired
  %br
  = f.submit
