!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1 Users

    %p
      = link_to 'Tilbake', root_path
      |
      = link_to 'Add user', new_user_path

    %table{:border => 1}
      %thead
        %tr
          %td
            Name
          %td
            E-mail
          %td
            Sex
          %td
            Retired
          %td
            Action
      %tbody
        - @users.each do | user |
          %tr
            %td
              = user.name
            %td
              = user.email
            %td
              = user.sex
            %td
              = user.retired
            %td
              = link_to 'Edit', edit_user_path(user)
