= form_for [@season, @event] do |f|
  = f.label :title
  = f.text_field :title
  %br
  = f.label :sport
  = f.text_field :sport
  %br
  = f.label :venue
  = f.text_field :venue
  %br
  = f.label :date
  = f.text_field :date
  %br
  = f.collection_select :category_id, Category.all, :id, :title
  %br
  = f.submit

:javascript
  var picker = new Pikaday({
      field: document.getElementById('event_date'),
      format: 'DD.MM.YYYY',
      firstDay: 1,
      showWeekNumber: true,
      i18n: {
          previousMonth : 'Forrige m&aring;ned',
          nextMonth     : 'Neste m&aring;ned',
          months        : ['Januar','Februar','Mars','April','Mai','Juni','Juli','August','September','Oktober','November','Desember'],
          weekdays      : ['S&oslash;ndag','Mandag','Tirsdag','Onsdag','Torsdag','Fredag','L&oslash;rdag'],
          weekdaysShort : ['S&oslash;n','Man','Tir','Ons','Tor','Fre','L&oslash;r']
        },
    });
