= form_for [@season, @event] do |f|
  = f.label :title
  = f.text_field :title
  %br
  = f.label :sport
  = f.text_field :sport
  %br
  = f.label :venue
  = f.text_field :venue
  %br
  = f.label :date
  = f.text_field :date
  %br
  = f.submit
