!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1
      = @event.title
    = link_to 'Tilbake', season_path(@event.season_id)
    %br
    = link_to 'Edit event', edit_event_path(@event)
    %br
    = link_to 'Delete event', { action: :destroy, id: @event }, method: :delete, data: { confirm: 'Are you sure?' }

    %h1 Add participant
    = form_tag [@event, Participant.new], url: {action: "create"} do
      = collection_select :user, :user_id, @users, :id, :name
      = submit_tag 'Add participant'

    %h1 Participants
    %ul
      - @event.participants.each do | participant |
        %li
          = participant.user.name
          = link_to "delete", event_participant_path(@event.id, participant.id), :method => 'delete', data: { confirm: "You sure?" }

    %h1 Results
    %ul
      - @event.results.each do | result |
        %li
          = result
