%h1
  = @event.title
%h3
  Date:
  = @event.date
  %br
  Category:
  = @event.category.title

%p
  = link_to 'Tilbake', season_path(@event.season_id)
  - if logged_in?
    |
    = link_to 'Edit event', edit_event_path(@event)
    |
    = link_to 'Delete event', { action: :destroy, id: @event }, method: :delete, data: { confirm: 'Are you sure?' }
    |
    = link_to 'Mass add/edit results', mass_edit_results_event_path(@event)
    |
    = link_to 'Mass add participants', mass_add_event_path(@event)

  %h1 Results
  - if @event.participants.empty?
    No participants yet
  - else
    = render :partial => 'participants', :locals => {:participants => @event.participants.men}
    %br
    = render :partial => 'participants', :locals => {:participants => @event.participants.women}
