!!!
%haml
  %head
    %title Ciber Mangekamp

  %body
    %h1
      = @event.title
    = link_to 'Tilbake', season_path(@event.season_id)

    %h1 Add participant
    = form_tag [@event, @event.participants.build], url: {action: "create"}, html: {class: ""} do
      = collection_select :user, :user_id, @users, :id, :name
      = submit_tag 'Add participant'

    %h1 Participants
    = form_tag [@event, @event.participants.build], url: {action: "create"}, html: {class: ""} do
      %ul
        - @event.users.each do | user |
          %li
            = user.name
            = text_field_tag :'result[score]'
            = text_field_tag :'result[place]'
      %br
      = submit_tag 'Save results'

    %h1 Results
    %ul
      - @event.results.each do | result |
        %li
          = result
